html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
**::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 0;
}
body {
  min-width: 320px;
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}
body .wrapper {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}
body .wrapper a {
  color: #173551;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}
body .wrapper .ui-button {
  position: relative;
  width: 190px;
}
body .wrapper .ui-button a {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #3691E1;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: width;
  overflow: hidden;
}
body .wrapper .ui-button a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 28px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7121 12.0002L9.70111 5.99023L8.28711 7.40423L12.8871 12.0042L8.28711 16.5972L9.70111 18.0112L15.7121 12.0002Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 26px;
  height: 26px;
  -webkit-transition: 0.23s;
  transition: 0.23s;
}
body .wrapper .ui-button a:hover {
  width: 188px;
  border-radius: 50px;
}
body .wrapper .ui-button a:hover span {
  left: 63px;
  color: #ffffff;
}
body .wrapper .ui-button a span {
  position: absolute;
  top: 20px;
  left: 75px;
  color: #173551;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .wrapper .inner {
  max-width: 1840px;
  margin: 0 auto;
}
body .wrapper header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}
body .wrapper header .inner {
  position: relative;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper header .inner::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  bottom: 0;
  left: 0;
}
body .wrapper header .inner .header-logo {
  z-index: 3;
}
body .wrapper header .inner .header-logo a {
  width: 147px;
  height: 42px;
}
body .wrapper header .inner .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 218px;
}
body .wrapper header .inner .header-info-practice {
  position: relative;
}
body .wrapper header .inner .header-info-practice a {
  position: relative;
  padding-right: 50px;
  font-size: 24px;
  color: #ffffff;
  z-index: 2;
}
body .wrapper header .inner .header-info-practice a::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 10px;
  top: 50%;
  right: 0;
  background: url(../images/dots.svg) no-repeat;
}
body .wrapper header .inner .header-info-practice a:hover {
  text-decoration: underline;
}
body .wrapper header .inner .header-info-practice-drop_menu {
  position: absolute;
  top: -55px;
  left: -446px;
  height: 200px;
  width: 100vw;
  background: #124471;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner {
  position: relative;
  padding-top: 155px;
  padding-left: 200px;
  padding-right: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item:last-child {
  margin-bottom: 0;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem {
  width: calc((100% - 40px) / 3);
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem-img {
  height: 150px;
  margin-bottom: 20px;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem-img img {
  max-width: 100%;
  height: 100%;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem-title a {
  padding-right: 0;
  border-bottom: 1px solid transparent;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem-title a::before {
  content: none;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-subitem-title a:hover {
  color: #9BD1FF;
  border-bottom: 1px solid #9BD1FF;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col {
  width: calc((100% - 40px) / 3);
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col .item {
  margin-bottom: 20px;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col .item:last-child {
  margin-bottom: 0;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col .item a {
  font-size: 16px;
  padding-right: 0;
  border-bottom: 1px solid transparent;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col .item a::before {
  content: none;
}
body .wrapper header .inner .header-info-practice-drop_menu .drop_menu-inner-item-col .item a:hover {
  color: #9BD1FF;
  border-bottom: 1px solid #9BD1FF;
}
body .wrapper header .inner .header-info .active .header-info-practice-drop_menu {
  opacity: 1;
  z-index: 1;
  height: 600px;
}
body .wrapper header .inner .header-info .active a:hover {
  text-decoration: none;
}
body .wrapper header .inner .header-info .active a:hover::before {
  border-color: #9BD1FF;
}
body .wrapper header .inner .header-info .active a::before {
  width: 65px;
  height: 65px;
  top: -15px;
  right: -35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.97058 7.385L1.72794 11.6276L0.313727 10.2134L4.55637 5.97078L0.313727 1.72814L1.72794 0.31393L5.97058 4.55657L10.2132 0.31393L11.6274 1.72814L7.38479 5.97078L11.6274 10.2134L10.2132 11.6276L5.97058 7.385Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .wrapper header .inner .header-info-cases {
  margin-left: 70px;
}
body .wrapper header .inner .header-info-cases a {
  font-size: 24px;
  color: #ffffff;
}
body .wrapper header .inner .header-info-cases a:hover {
  text-decoration: underline;
}
body .wrapper header .inner .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}
body .wrapper header .inner .header-menu-item {
  margin-left: 82px;
}
body .wrapper header .inner .header-menu-item:first-child {
  margin-left: 0;
}
body .wrapper header .inner .header-menu-item-title {
  font-size: 16px;
  color: #ffffff;
}
body .wrapper header .inner .header-menu-item-title a {
  color: inherit;
}
body .wrapper header .inner .header-menu-item-title a:hover {
  text-decoration: underline;
}
body .wrapper main .main-page .top_banner {
  position: relative;
  color: #ffffff;
}
body .wrapper main .main-page .top_banner .inner .top_banner-title {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1015px;
}
body .wrapper main .main-page .top_banner .inner .top_banner-title-txt {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 150px;
}
body .wrapper main .main-page .top_banner .inner .top_banner-title-txt::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #ffffff;
  width: 109px;
}
body .wrapper main .main-page .top_banner .inner .top_banner-title-desc {
  font-size: 37px;
  line-height: 42px;
}
body .wrapper main .main-page .top_banner .inner .top_banner-contacts {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
}
body .wrapper main .main-page .top_banner .inner .top_banner-contacts-phone {
  margin-bottom: 10px;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-letters {
  position: absolute;
  top: 38%;
  left: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-letters-val {
  position: relative;
  margin-left: -15px;
  font-size: 110px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 151px;
  height: 151px;
  will-change: width;
  -webkit-transition: 0.23s;
  transition: 0.23s;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-letters-val span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-letters-val.active {
  background-color: #F76C72;
  z-index: 1;
  border: none;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-info {
  position: absolute;
  top: 50%;
  right: 115px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 490px;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-info-text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 45px;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-info-btn .ui-button {
  position: relative;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-info-btn .ui-button a {
  background-color: #F76C72;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-info-btn .ui-button a span {
  color: #ffffff;
}
body .wrapper main .main-page .top_banner-slider-item .inner .top_banner-slider-item-title {
  position: absolute;
  bottom: 0;
  left: 30px;
  font-size: 186px;
  line-height: 260px;
}
body .wrapper main .main-page .top_banner-slider .slick-dots {
  position: absolute;
  top: 38%;
  left: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
body .wrapper main .main-page .top_banner-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  position: relative;
  margin-left: -15px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 151px;
  height: 151px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  will-change: width;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
body .wrapper main .main-page .top_banner-slider .slick-dots button#slick-slide-control00::before,
body .wrapper main .main-page .top_banner-slider .slick-dots button#slick-slide-control01::before {
  content: 'C';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 110px;
  color: #ffffff;
}
body .wrapper main .main-page .top_banner-slider .slick-dots button#slick-slide-control02::before {
  content: 'П';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 110px;
  color: #ffffff;
}
body .wrapper main .main-page .top_banner-slider .slick-dots .slick-active button {
  background-color: #F76C72;
  z-index: 1;
  width: 221px;
  height: 221px;
  border: none;
}
body .wrapper main .main-page .top_banner-slider .slick-dots .slick-active button::before {
  position: absolute;
}
body .wrapper main .main-page .practice-slider-item {
  max-width: 1195px;
  max-height: 480px;
}
body .wrapper main .main-page .practice-slider-item img {
  width: 100%;
}
body .wrapper main .main-page .practice-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #CFDEEA;
}
body .wrapper main .main-page .practice-menu-item-title {
  font-size: 24px;
  color: #173551;
  font-weight: 400;
}
body .wrapper main .main-page .practice-menu-item .link {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
}
body .wrapper main .main-page .practice-menu-item .link:last-child {
  margin-bottom: 0;
}
body .wrapper main .main-page .confession {
  padding-top: 160px;
}
body .wrapper main .main-page .confession-title {
  padding-left: 40px;
  margin-bottom: 80px;
  font-size: 130px;
  color: #173551;
}
body .wrapper main .main-page .events {
  padding-top: 160px;
}
body .wrapper main .main-page .events-head {
  position: relative;
  margin-bottom: 80px;
}
body .wrapper main .main-page .events-head-subtitle {
  font-size: 24px;
  color: #173551;
  margin-bottom: 20px;
}
body .wrapper main .main-page .events-head-title {
  font-size: 55px;
  max-width: 935px;
  color: #173551;
}
body .wrapper main .main-page .events-head-more {
  position: absolute;
  top: 65%;
  right: 0;
}
