html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
**::before {
  box-sizing: inherit;
  outline: 0;
}

@white: #ffffff;
@dark-txt: #173551;
@bg-gray: #C4C4C4;
@red: #F76C72;
@cover: #9BD1FF;
@btn: #3691E1;

body {
  min-width: 320px;
  max-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;

  .wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;

    a {
      color: @dark-txt;
      text-decoration: none;
      transition: .3s;
      outline: none;
    }

    .ui-button {
      position: relative;
      width: 190px;

      a {
        display: inline-block;
        width: 55px;
        height: 55px;
        background-color: @btn;
        border-radius: 50%;
        transition: .3s;
        will-change: width;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 28px;
          background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7121 12.0002L9.70111 5.99023L8.28711 7.40423L12.8871 12.0042L8.28711 16.5972L9.70111 18.0112L15.7121 12.0002Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
          transform: translateY(-50%) translateX(-50%);
          display: block;
          width: 26px;
          height: 26px;
          transition: .23s;
        }

        &:hover {
          width: 188px;
          border-radius: 50px;

          span {
            left: 63px;
            color: @white;
          }

        }

        span {
          position: absolute;
          top: 20px;
          left: 75px;
          color: @dark-txt;
          transition: .3s;
        }
      }
    }

    .inner {
      max-width: 1840px;
      margin: 0 auto;
    }

    header {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;

      .inner {
        position: relative;
        padding: 40px;
        display: flex;
        align-items: center;

        &::after {
          content: '';
          position: absolute;
          width: 100vw;
          height: 1px;
          background: @white;
          opacity: 0.2;
          bottom: 0;
          left: 0;
        }

        .header-logo {
          z-index: 3;

          a {
            width: 147px;
            height: 42px;
          }
        }

        .header-info {
          display: flex;
          margin-left: 218px;

          &-practice {
            position: relative;

            a {
              position: relative;
              padding-right: 50px;
              font-size: 24px;
              color: @white;
              z-index: 2;

              &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 10px;
                top: 50%;
                right: 0;
                background: url(../images/dots.svg) no-repeat;
              }

              &:hover {
                text-decoration: underline;
              }
            }

            &-drop_menu {
              position: absolute;
              top: -55px;
              left: -446px;
              height: 200px;
              width: 100vw;
              background: #124471;
              z-index: -1;
              opacity: 0;
              transition: 0.3s;

              .drop_menu-inner {
                position: relative;
                padding-top: 155px;
                padding-left: 200px;
                padding-right: 40px;
                max-width: 1200px;
                margin: 0 auto;

                &-item {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 60px;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  &-subitem {
                    width: calc((100% - 40px) / 3);

                    &-img {
                      height: 150px;
                      margin-bottom: 20px;

                      img {
                        max-width: 100%;
                        height: 100%;
                      }
                    }

                    &-title {
                      a {
                        padding-right: 0;
                        border-bottom: 1px solid transparent;

                        &::before {
                          content: none;
                        }

                        &:hover {
                          color: @cover;
                          border-bottom: 1px solid @cover;
                        }
                      }
                    }
                  }

                  &-col {
                    width: calc((100% - 40px) / 3);

                    .item {
                      margin-bottom: 20px;

                      &:last-child {
                        margin-bottom: 0;
                      }

                      a {
                        font-size: 16px;
                        padding-right: 0;
                        border-bottom: 1px solid transparent;

                        &::before {
                          content: none;
                        }

                        &:hover {
                          color: @cover;
                          border-bottom: 1px solid @cover;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .active {
            .header-info-practice-drop_menu {
              opacity: 1;
              z-index: 1;
              height: 600px;
            }

            a {
              &:hover {
                text-decoration: none;

                &::before {
                  border-color: #9BD1FF;
                }
              }

              &::before {
                width: 65px;
                height: 65px;
                top: -15px;
                right: -35px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.97058 7.385L1.72794 11.6276L0.313727 10.2134L4.55637 5.97078L0.313727 1.72814L1.72794 0.31393L5.97058 4.55657L10.2132 0.31393L11.6274 1.72814L7.38479 5.97078L11.6274 10.2134L10.2132 11.6276L5.97058 7.385Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
                transition: 0.3s;
              }
            }
          }

          &-cases {
            margin-left: 70px;

            a {
              font-size: 24px;
              color: @white;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .header-menu {
          display: flex;
          justify-content: space-between;
          margin-left: auto;

          &-item {
            margin-left: 82px;

            &:first-child {
              margin-left: 0;
            }

            &-title {
              font-size: 16px;
              color: @white;

              a {
                color: inherit;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    main {
      .main-page {
        .top_banner {
          position: relative;
          color: @white;

          .inner {
            .top_banner-title {
              position: absolute;
              top: 160px;
              left: 40px;
              z-index: 1;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              max-width: 1015px;

              &-txt {
                position: relative;
                font-size: 14px;
                line-height: 20px;
                text-transform: uppercase;
                padding-right: 150px;

                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  right: 14px;
                  transform: translateY(-50%);
                  border: 1px solid @white;
                  width: 109px;
                }
              }

              &-desc {
                font-size: 37px;
                line-height: 42px;
              }
            }

            .top_banner-contacts {
              position: absolute;
              bottom: 40px;
              right: 40px;
              z-index: 1;
              font-size: 16px;
              line-height: 16px;
              text-align: right;

              &-phone {
                margin-bottom: 10px;
              }
            }
          }

          &-slider {
            &-item {
              .inner {
                .top_banner-slider-item {
                  &-letters {
                    position: absolute;
                    top: 38%;
                    left: 40px;
                    z-index: 1;
                    display: flex;
                    align-items: center;

                    &-val {
                      position: relative;
                      margin-left: -15px;
                      font-size: 110px;
                      border: 1px solid @white;
                      border-radius: 50%;
                      width: 151px;
                      height: 151px;
                      will-change: width;
                      transition: 0.23s;

                      span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                      }

                      &.active {
                        background-color: @red;
                        z-index: 1;
                        border: none;
                      }
                    }
                  }

                  &-info {
                    position: absolute;
                    top: 50%;
                    right: 115px;
                    transform: translateY(-50%);
                    max-width: 490px;

                    &-text {
                      font-size: 24px;
                      line-height: 34px;
                      margin-bottom: 45px;
                    }

                    &-btn {
                      .ui-button {
                        position: relative;

                        a {
                          background-color: @red;

                          span {
                            color: @white;
                          }
                        }
                      }
                    }
                  }

                  &-title {
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    font-size: 186px;
                    line-height: 260px;
                  }
                }
              }
            }

            .slick-dots {
              position: absolute;
              top: 38%;
              left: 40px;
              z-index: 1;
              display: flex;
              align-items: center;
              list-style: none;

              button {
                padding: 0;
                font-size: 0;
                position: relative;
                margin-left: -15px;
                border: 1px solid @white;
                border-radius: 50%;
                width: 151px;
                height: 151px;
                transition: 0.6s;
                will-change: width;
                background-color: transparent;
                outline: none;
                cursor: pointer;

                &#slick-slide-control00,
                &#slick-slide-control01 {
                  &::before {
                    content: 'C';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    font-size: 110px;
                    color: @white;
                  }
                }

                &#slick-slide-control02 {
                  &::before {
                    content: 'П';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    font-size: 110px;
                    color: @white;
                  }
                }
              }

              .slick-active {
                button {
                  background-color: @red;
                  z-index: 1;
                  width: 221px;
                  height: 221px;
                  border: none;

                  &::before {
                    position: absolute;
                  }
                }
              }
            }
          }
        }

        .practice {
          &-slider {
            &-item {
              max-width: 1195px;
              max-height: 480px;

              img {
                width: 100%;
              }
            }
          }

          &-menu {
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #CFDEEA;

            &-item {
              &-title {
                font-size: 24px;
                color: @dark-txt;
                font-weight: 400;
              }

              .link {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 23px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .confession {
          padding-top: 160px;

          &-title {
            padding-left: 40px;
            margin-bottom: 80px;
            font-size: 130px;
            color: @dark-txt;
          }
        }

        .events {
          padding-top: 160px;

          &-head {
            position: relative;
            margin-bottom: 80px;

            &-subtitle {
              font-size: 24px;
              color: @dark-txt;
              margin-bottom: 20px;
            }

            &-title {
              font-size: 55px;
              max-width: 935px;
              color: @dark-txt;
            }

            &-more {
              position: absolute;
              top: 65%;
              right: 0;
            }
          }
        }
      }
    }
  }
}